/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Merriweather Sans',sans-serif;
}
:root{
    --colorDark1:#112D4E;
    --colorDark2:#3F72AF;
    --colorLigh1:#DBE2EF;
    --colorLight2:#F9F7F7;
}
.wrap{
    overflow-x: hidden;
    overflow-y: auto;
    width:100vw;
    height:100vh;
    background-image: linear-gradient(160deg,#112d4e 0%,#3f72af 100%);
}
.wrapper{
    width:100%;
    height:100%;
    color:var(--colorLight2);
    /* padding:0 2rem; */
    padding-bottom: 3rem;
   
   

}
h1{
    text-align:center;
    text-transform: uppercase;
    padding-top:28px;
}
.tab-container{
    width:90%;
    display: flex;
    margin:0 auto;
    max-width:550px;
    justify-content: space-between;
    margin-top:4rem;
}
.tab{
    cursor:pointer;
    font-size: .875rem;
    padding: 5px 8px;
    letter-spacing: 1.75px;
}
.tab.current-tab{
    background-color: rgba(219,226,239,.5);
    border-radius: 4px;
}
.weather-container{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    margin-block: 2rem;
}
.btn{
    all: unset;
    background-color: var(--colorDark2);
    text-transform: uppercase;
    font-size: .85rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom:10px; 
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grant-location-container{
    display:none;

}
.grant-location-container.active{
    display: flex;
  
}
.grant-location-container img{
    margin-bottom: 2rem;

}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;

}
.grant-location-container p:last-of-type{
    font-size: .85rem;
    font-weight: 500;
    text-align: center;
    margin-top: .75rem;
    margin-bottom: 1.75rem;
    letter-spacing: .75px;

}
.loading-container{
    display:none;
    
}
.loading-container.active{
    display:flex;
    
}
.loading-container p{
    text-transform:uppercase;
}
.user-info-container{
   display:none;
   width:100%;
   padding-bottom: 2rem;
}
.user-info-container.active{
    display:flex;
 }
 .name{
    display:flex;
    align-items: center;
    gap:0 0.5rem;
    margin-bottom: 1rem;
 }
 .user-info-container img{
    width: 90px;
    height:90px;
}
.name p{
    font-size:2rem;
}
.name img{
    width: 30px;
    height:30px;
    
}
.user-info-container p[data-weatherdesc]{
    text-transform:capitalize;
    font-size: 1.2rem;
}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container p[data-temp]{
    font-size:2.75rem;
    font-weight: 700;
}
.parameter-container{
    width:90%;
    max-width:550px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  /* flex-direction: row; */
   margin:0 auto;
  gap:1rem 1rem;
  
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}


.parameter{
    width:80%;
    max-width: 200px;
    background-color: rgba(219,226,239,.5);
    border-radius: 5px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px 0;
    align-items: center;
    
}
.parameter img{
   width:50px;
   height:50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 600;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}
.form-container{
    display:none;
    /* display:flex; */
    width:90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap:0 10px;
    margin-bottom:3rem;
}
.form-container.active{
    display:flex;
}
.form-container input{
    all:unset;
    width:calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 10px;
}
.form-container input::placeholder{
    color:rgba(255,255,255,.7);
}
.form-container input:focus{
    outline:3px solid rgba(255,255,255,.7);

}
.form-container .btn{
    padding:unset;
    width:40px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin:1px;
}

@media screen and (max-width: 500px)  {
    .parameter{
        width:90%;
        max-width: 200px;
        background-color: rgba(219,226,239,.5);
        border-radius: 5px;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:5px 0;
        align-items: center;
        
    }
    .parameter p:first-of-type{
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    .parameter p:last-of-type{
        font-size: .8rem;
        font-weight: 200;
    }
    .parameter img{
        width:40px;
        height:40px;
     }
}

.errorContainer {
    display: none;
}

.errorContainer.active {
    display: flex;
    gap: 1rem 0;
}

.errorContainer p {
    text-align: center;
}

.errorContainer img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


